<% content_for(:title, 'Tags | Recipes') %>

<h1>List of Tags</h1>

<% @tag.each do |tag| %>
  <ul>
    <li><a href="/tags/<%= tag.id %>"><%= tag.name %></li>
  </ul>
<% end %>

<p><a href="/tags/new">Create a new tag</a></p>
