<% content_for(:title, 'Content | Recipes') %>

<h1>Contributors Content</h1>

<% @contributors.each do |contributor| %>
  <ul>
    <li><a href="/contributors/<%= contributor.id %>"><%= contributor.title %></a></li>
    <% contributor.tags.each do |tag| %>
      <p><a href="/tags/<%= tag.id %>"><%= tag.name %></a><p>
    <% end %>
  </ul>
<% end %>

<p><a href="/contributors/new">Add a new recipe</a></p>
