<% content_for(:title, "Add | Recipes") %>

<h1>Add A New Recipe</h1>

<%= render('layouts/errors', :object => @contributor) %>

<form action="/contributors" method='post' id='contributor_new'>
  <%= render('form') %>
  <button>Submit Your Recipe</button>
</form>

<%= render('textarea') %>
